<div class="container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <button mat-button (click)="goToSignup()">Create an account</button>
    </mat-card-actions>
  </mat-card>
</div>