
<ng-container *ngIf="books.length>0">
<mat-grid-list cols="5" rowHeight="400px" gutterSize="0">
    <mat-grid-tile *ngFor="let book of books">
        <mat-card>
            <!-- <mat-card-header>
          <mat-card-title>{{ book.title }}</mat-card-title>
        </mat-card-header> -->
            <img mat-card-image [src]="book.imageURL" alt="book Image">
            <mat-card-content>
                <p>{{ book.name }} by <span>{{book.author}}</span></p>
                <p>${{ book.price }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary">Add to Cart</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</ng-container>