
<ng-container *ngIf="books.length>0">
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div class="bg-white shadow-md p-4" *ngFor="let book of books">
        <div class="flex justify-center mb-4">
            <div class="aspect-w-2 aspect-h-3">
                <img [src]="book.imgURL" alt="Book Cover" class="object-contain rounded-md">
            </div>
          </div>
          <div class="text-center">
            <h3 class="text-lg font-medium mb-2">{{ book.title }}</h3>
            <p class="text-sm text-gray-600">{{ book.author }}</p>
            <p class="text-xl font-bold mt-2">${{ book.price }}</p>
          </div>
          <div class="flex justify-center mt-4">
            <button (click)="addToCart(book._id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Add to Cart
            </button>
          </div>
    </div>
  </div>
  
</ng-container>